{
  "parser": "babel-eslint",

  "plugins": ["flowtype", "jest", "prettier"],

  "extends": ["airbnb-base", "plugin:flowtype/recommended", "prettier"],

  "rules": {
    "no-param-reassign": "off",
    "no-prototype-builtins": "off",
    "no-void": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off"
  },

  "env": {
    "jest/globals": true
  }
}
